@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --corprimaria: #a3b500;
    --corsecundaria: #b7ca02;
    --corterciaria: #000000;
    --fundo: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#e9e9e9 , #bebebe);
    color: #222;
    line-height: 1.6;
}

section {
    padding: 60px 20px;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p{
    font-size: 1rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
;
}

.logo {
    height: 50px;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: var(--corterciaria);
    font-size: 0.95rem;
    transition: 0.3s;
}

.navbar a:hover {
    opacity: 0.7;
}

.orcamento {
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    color: #f5f5f5;
    background-color: var(--corprimaria);
}

.principal {
    text-align: center;

    color: var(--corterciaria);
    padding: 100px 20px;
}

.principal h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: var(--corprimaria);
}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--corsecundaria);
}

.descricao {
    max-width: 700px;
    margin: 0 auto;
}

