*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    font-size: 1.2rem;
    background-color: #252525;
}

main{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

main h1{
    color: #D2AE6D;
}

p{
    color: #D2AE6D;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#btn-mobile{
    display: none;
}

.logo1{
    height: 60px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color:#D2AE6D;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover{
    color: #a88952;
}

.button-nav{
    background: #755724;
    padding: 10px 18px;
    border-radius: 5px;
}

.button-nav:hover{
    background: #4d3a1a;
    color: #252525;
}

.hero {
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden; 
    z-index: 1; 
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero::before {
    content: '';
    position: absolute;
    top: -10%; 
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: linear-gradient(rgba(37, 37, 37, 0.85), rgba(37, 37, 37, 0.85)), url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; 
    transition: transform 1.5s ease-out; 
    will-change: transform; 
}

.hero:hover::before {
    transform: scale(1.1);
}

.hero h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #D2AE6D;
}

.hero p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0;
}

.servicos{
    margin-top: 10px;
    text-align: center;
}

.servicos h2{
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #D2AE6D;
}

.servicos p{
    color: #252525;
}

.servicos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.servicos article{
    background: #D2AE6D ;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.servicos article:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

.sobre{
    margin: 80px;
    text-align: center;
    color: #D2AE6D;
}

.sobre h2{
    font-size: 2.5rem;
}

.sobre p{
    max-width: 700px;
    margin: 15px auto;
}

footer{
    margin-top: 80px;
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

.container-principal{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

#contato, #localizacao{
    flex: 1;
    width: 48%;
    background-color: #D2AE6D;
    padding: 30px;
    border-radius: 10px;
    align-items: stretch;
}

#contato h2{
    text-align: center;
}

#localizacao h2{
    text-align: center;
    padding-bottom: 20px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

textarea{
    resize: vertical;
}

button{
    background-color:#755724;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#localizacao iframe{
    width: 100%;
    flex-grow: 1;
    border-radius: 15px;
}

input:focus{
    outline: none;
    transition: all 0.3s ease;
}

textarea:focus{
    outline: none;
    transition: all 0.3s ease;
}

@media (max-width: 768px){

.servicos-container{
    grid-template-columns: 1fr;
}

.cabecalho{
    flex-direction: column;
    gap: 20px;
}

.navbar ul{
    display: none;
}

.menu-aberto{
    display: block;
    background-color: #755724;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 70px;
}

.navbar.menu-aberto ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background-color: #755724;
    padding: 20px;
}

#btn-mobile{
    display: flex;
    border: none;
    font-size: 1.5rem;
    color: #D2AE6D;
    align-items: center;
    justify-content: center;
}

.container-principal{
    flex-direction: column;
}

#contato, #localizacao{
    width: 100%;
}

#localizacao iframe{
    height: 400px;
}

}