*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #292929;
}

section {
    padding: 60px 20px;
}

.logo {
    display: block;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    margin: 10px;
}

.consulta {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 159, 92);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
    text-decoration: none;
}