*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    font-size: 1.2rem;
    background-color: #252525;
}

main{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

main h1{
    color: #D2AE6D;
}

p{
    color: #D2AE6D;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo1{
    height: 60px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color:#D2AE6D;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover{
    color: #a88952;
}

.button-nav{
    background: #755724;
    padding: 10px 18px;
    border-radius: 5px;
}

.button-nav:hover{
    background: #4d3a1a;
    color: #252525;
}

.hero{
    text-align: center;
    padding: 80px 20px;
}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p{
    max-width: 700px;
    margin: auto;
    font-size: 1.1rem;
}

.servicos{
    margin-top: 80px;
    text-align: center;
}

.servicos h2{
    margin-bottom: 40px;
}

.servicos h2{
    margin-bottom: 40px;
}

.servicos p{
    color: #252525;
}

.servicos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.servicos h2{
    color: #D2AE6D;
}

.servicos article{
    background: #D2AE6D ;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.servicos article:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

.sobre{
    margin-top: 80px;
    text-align: center;
    color: #D2AE6D;
}

.sobre p{
    max-width: 700px;
    margin: 15px auto;
}

footer{
    margin-top: 80px;
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

.servicos{
    margin-top: 80px;
    text-align: center;
}

@media (max-width: 768px){

.servicos-container{
    grid-template-columns: 1fr;
}

.cabeçalho{
    flex-direction: column;
    gap: 20px;
}

}